/******************************
COLORS AND FONTS
******************************/
   $background: #1D1D20;
   $pink: #cc4ff1;
   $blue: #3b94e3;
   $grey_light: #e2e2e2;
   $grey_medium: darken($grey_light, 40%);
   $grey_dark: darken($grey_light, 60%);
   $yellow: #ffb817;
   $orange: #ff7a30;

   .pink {
      color: $pink;
   }
   .blue {
      color: $blue;
   }
   .blue_dark {
      color: darken($blue, 20%);
   }
   .yellow {
      color: $yellow;
   }
   .yellow_dark {
      color: darken($yellow, 25%);
   }
   .orange {
      color: $orange;
   }
   .grey_medium {
      color: $grey_medium;
   }
   .grey_dark {
      color: darken($grey_light, 60%);;
   }

/******************************
GENERAL
******************************/
* {
	margin: 0;
	padding: 0;
}
html {
  	height: 100%;
}
body {
   background-color: $background;
   font-family: 'Inconsolata', monospace;
   color: $grey_light;
   height: 100%;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}
a, a:visited {
	color: $pink;
	text-decoration: underline;;
}
a:hover {
	text-decoration: lighten($pink, 15%);
}
.wrapper {
   width: 100%;
   margin: 0, 0, 0, 0;
}

/*******************************
HEADER
******************************/
header {
   background-color: darken($background, 5%);
   margin-bottom: 1em;
   padding-left:1em;
   padding-top:1em;
   height: 3em;
   box-shadow: 0px 2px 4px #222;
}

/*******************************
CONTENT
******************************/
h1 {
   font-size: 1.7em;
   font-weight: normal;
}
h2 {
   font-size: 1.3em;
   font-weight: normal;
   margin-left: 6%;
}
h3 {
   font-size: 1.3em;
   font-weight: normal;
   margin-left: 6%;
}
p {
   font-size: 1.2em;
   margin-left: 12%;
   margin-right: 12%;
}
p.update {
   border:0;
}
.welcome {
   display: block;
	float: left;
}

/*******************************
FOOTER
******************************/
footer {
   p {
      margin: 0;
   }
}
.footer {
   margin-left: 6%;
}
.github {
   width:2.5em;
   height:2.5em;
}
