@import "../_colors.scss";

.ant-layout-footer {
  width: 80%;
  padding: 50px 0 0 0;
  line-height: 1.8em;
  color: $color-main-text;
  background-color: transparent;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  p {
    font-size: 1.3em;
    margin: 0;

    .anticon {
      svg {
        path {
          fill: $cerulean;
        }
      }
    }
  }
}

.light-mode {
  footer {
    color: $color-main-text-light-theme;
  }
} 
