@import "../_colors.scss";

.ant-layout-footer {
  width: 80%;
  padding: 50px 0 0 0;
  line-height: 1.8em;
  color: $color-main-text;
  background-color: $color-main-bg !important;

  p {
    font-size: 1.3em;
    margin: 0;

    .anticon {
      svg {
        path {
          fill: $cerulean;
        }
      }
    }
  }
}

.lightmode {
  .ant-layout-footer {
    color: $color-main-text-light-theme;
    background-color: $color-main-bg-light-theme !important;
  }
}
