@import "../../pages/_colors.scss";

.anchor {
  a {
    color: $color-accent-first;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    path {
      fill: $color-accent-first;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
    }
    circle {
      fill: $color-accent-first;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
    }
  }
  a:hover {
    color: lighten($color-accent-first, 20%);
    path {
      fill: lighten($color-accent-first, 20%);
    }
    circle {
      fill: lighten($color-accent-first, 20%);
    }
  }
}