$pink: #cc50f1;
$purple: #5e25c9;
$amethyst: #7c5ce7;
$taro: #a29bfe;
$blue: #3b95e3;
$cerulean: #0a84e3;
$aquafresh: #81ecec;
$chlorine: #00cec9;
$avocado: #00a874;
$acid: #e0fc1e;
$sunnyd: #fdcb6e;
$siracha: #d63131;
$monday: #636e72;

$color-main-bg: #13151a;
$color-main-bg-light-theme: #f3f3f4;
$color-main-text: #dbdbdb;
$color-main-text-light-theme: #242425;
$color-accent-first: $cerulean;
$color-accent-second: $purple;
$color-main-text-disabled: rgba($color-main-text, 0.07);
$color-main-text-disabled-light-theme: lighten($color-main-text-light-theme, 75%);
$color-shadow: #00020a;