.article-image {
    width: 90%;
    margin: 1em auto;
    border-radius: 10px;
    //box-shadow: 4px 4px 0px 0px rgba($amethyst, 0.7);
    box-shadow: 0 2px 10px rgba(black, 0.2);

    @media (min-device-width: 375px) and (max-device-width: 812px) {
      width: 96%
    }
  }
