

body {
  color: $color-main-text;
  font-family: $font-body;
  letter-spacing: -0.04rem;
}


h1 {
  font-family: $font-header;
  font-weight: 800;
  font-size: 10.5rem;
  line-height: 10rem;
  margin: 0 0 0.1rem 0;
  color: $color-main-text;
  text-shadow: 0 0 6px rgba(black, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media (max-width: 1200px) {
      font-size: 10rem;
  }
  @media (max-width: 1100px) {
      font-size: 9rem;
  }
  @media (max-width: 900px) {
      font-size: 7.5rem;
  }
  @media (min-width : 375px) 
  and (max-width : 812px) {
      font-size: 4.5rem;
      letter-spacing: -0.02rem;
  }
}


h2 {
  font-family: $font-header;
  font-size: 3.6rem;
  line-height: 3.4rem;
  margin: 5rem 0 3rem 0;
  color: $color-main-text;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (min-width: 375px)
and (max-width: 812px) {
  h2 {
    font-size: 2rem;
    line-height: 0.9rem;
  }
}

.light-mode {
  h2 {
    color: $color-main-text-light-theme;
  }
}


h3 {
  font-family: $font-header3;
  font-feature-settings: "ss02" on,"ss01" on;
  font-size: 2.2rem;
  color: $color-main-text;
  margin-bottom: 0.1rem;
  // letter-spacing: -0.04rem;
  // margin-top: 0;
  // margin-bottom: 0.1rem;
  @media (min-width: 375px)
  and (max-width: 812px) {
    letter-spacing: -0.08rem;
  }
}

.light-mode {
  h3 {
    color: $color-main-text-light-theme;
  }
}


h4 {
  color: darken($color-main-text, 40%);
  font-size: 1.1rem !important;
  margin-top: 0.2rem;
  .anticon {
    margin-right: 0.4rem;
  }
}

.light-mode {
  h4 {
    color: darken($color-main-text, 20%);
  }
}


.underline {
  background-image: linear-gradient(120deg, rgba($color-accent-first, 0.85) 0%, rgba($color-accent-second, 0.85) 100%);
  background-repeat: no-repeat;
  //background-size: 100% 0.19em;
  background-size: 98% 0.35em;
  background-position: 100% 86%;
  padding-right: 1%;
  //transition: background-size 200ms ease-in;
}

.light-mode {
  .underline {
    background-image: linear-gradient(120deg, rgba($color-accent-first, 0.76) 0%, rgba($color-accent-second, 0.76) 100%);
  }
}