@import '~antd/dist/antd.css';

@import "./_colors.scss";
@import "./_fonts.scss";
@import "./text.scss";
@import "./_images.scss";

@import "./elements/Anchor.scss";
@import "./elements/Title.scss";
@import "./elements/ArticlePreviewList.scss";
@import "./elements/ThemeToggle.scss";
@import "./elements/StickyHeader.scss";

@import "./layout/Footer.scss";

html {
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: darken($color-main-bg, 3%);
  
}

body.light-mode {
  background-color: lighten($color-main-bg, 3%);
}

.app {
  max-width: 1100px;
  padding: 1rem 3rem 2rem 2rem;
  font-size: 1.70em;
  background-color: $color-main-bg;
  box-shadow: 0 5px 20px rgba(black, 0.4);

  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media (min-width: 375px)
  and (max-width: 812px) {
    font-size: 1.6em;
    margin: 0 15px;
  }

  @media (max-width: 1000px) {
    padding: 1.1rem;
  }
}

.light-mode {
  .app {
    background-color: $color-main-bg-light-theme;
    color: $color-main-text-light-theme;
  }
}

p {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

::selection {
  background: $cerulean;
}
::-moz-selection {
  background: $cerulean;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ant-tag {
  color: rgba($color-main-text, 0.9);
  // background-color: rgba($purple, 0.7);
  background-image: linear-gradient(120deg, rgba($amethyst, 0.85) 0%, rgba($purple, 0.85) 100%);
  border: none;
  border-radius: 4px;
  font-family: $font-code;
  font-size: 0.9rem;
}