@import '~antd/dist/antd.css';

html,
body,
main,
header,
footer {
  padding: 0;
  margin: 0;
  /* color: #fff; */
  /* background: #001529; */
}

/* h1 {
  color: #eee;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
